<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084958856293-hbr2m5nhfucdasu5kodql6mueiiirgdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084958856293-hbr2m5nhfucdasu5kodql6mueiiirgdf</string>
	<key>API_KEY</key>
	<string>AIzaSyAiXGpf1KjEhnkq2Z27vAJZcLc2_A9zmHI</string>
	<key>GCM_SENDER_ID</key>
	<string>1084958856293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anitocorn.anitocornFirebaseAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>anitocorn-firebase-auth-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>anitocorn-firebase-auth-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084958856293:ios:8f08965ae0ad68c758228c</string>
</dict>
</plist>